@model PokemonHubXWatches.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "Create New Reservation";
}

<h2>Create New Reservation</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ReservationDate" class="control-label"></label>
        <input asp-for="ReservationDate" class="form-control" type="datetime-local" />
        <span asp-validation-for="ReservationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserId" class="control-label">Select User</label>
        <select asp-for="UserId" class="form-control">
            <option value="">-- Select User --</option>
            @foreach (var user in (IEnumerable<PokemonHubXWatches.Models.User>)ViewData["Users"])
            {
                <option value="@user.UserId">@user.UserName</option>
            }
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="WatchID" class="control-label">Select Watch</label>
        <select asp-for="WatchID" class="form-control">
            <option value="">-- Select Watch --</option>
            @foreach (var watch in (IEnumerable<PokemonHubXWatches.Models.Watch>)ViewData["Watches"])
            {
                <option value="@watch.WatchID">@watch.Name</option>
            }
        </select>
        <span asp-validation-for="WatchID" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}