@model PokemonHubXWatches.Models.HeldItemDTO

<h1>Add Held Item</h1>
<form asp-action="Create" method="post">
    <div>
        <label>Name</label>
        <input asp-for="HeldItemName" class="form-control" />
    </div>
    <div>
        <label>HP</label>
        <input asp-for="HeldItemHP" type="number" class="form-control" />
    </div>
    <div>
        <label>Attack</label>
        <input asp-for="HeldItemAttack" type="number" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
